<html>
<head>
    <title>Software Test</title>
     <link href="/static/css/stylesM.css" type="text/css"
      rel="stylesheet" />
    <link rel="shortcut icon" href="/static/img/favicon4.ico" >
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=2.0)" />

</head>
<body>
    <div class="b">
       <img  src="/static/img/ant3.png" width="680px">
    </div>
    <div id="logo">
        <img class="photo" src="/static/img/logo1.png" width="90px">
    </div>
    <div>
      <ul class ="search">
           <li><a href="/search/">Ordinary<br/> Search</a>
                <ul class="tabs">
                    <li>Wanna a path to a dreamy compound?</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em"> Adjust the weights of different criteria;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em"> Enter required or not required compound;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em"> Find more detailed pathway information；</li>
                    <li  style="display:list-item; list-style-type:disc; margin-left:3em"> Support one-direction search.</li>
                 </ul></li>
            <li><a href="/recommendation/">Organism<br/> Recommendation</a>
              <ul class="tabs">
                    <li>Don't know which expression system to use?</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Rank all possible organisms through proper score system;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Choose the best organism and try it in experiment;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Also support one-direction search.</li>
                 </ul></li>
                 <li><a href="/multi_sysytem/" >SMILES Similarity<br/> &nbsp</a>
                <ul class="tabs">
                    <li><span>Do you want to compare structure similarity between two compound?</span></li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">For ordinary compound in database or newly synthesized compound ;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Inspire you to come up with a new way to pathway design;</li>
                    <li style="display:list-item; list-style-type:disc; margin-left:3em">Help to construct novel pathway.</li>
                 </ul>
          </li>
        </ul>    
    </div>
    <div id="contact">
  
  <h3>CONTACT</h3>
  <span>annecao@tongji.edu.cn</span>
  <h3>ADDRESS</h3> 
  <span>1239# Siping Road</br>Tongji University,Shanghai China</span>
  <h3>GET IN TOUCH</h3>
  <a href="https://www.facebook.com/tongjiIGEMer/?ref=bookmarks"><img src="/static/img/facebook2.png" width="5%"></a>
</div>
    <div id="pattern">
    	<img class="photo" src="/static/img/back2.png" width=100%>
    </div>
</div>
<img class="ant" src="/static/img/ant2.png" width="9%">
</body>
</body>
</html>

       